$primary: #3b5991;
$secondary: cornflowerblue;
$dark: rgb(29, 50, 88);
$accent: salmon;
$light: white;

$font-size-base: 2rem;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display&family=Noto+Sans+JP&display=swap');

body {
  background-color: $dark;
}

.group-title-font {
  font-family: 'Bebas Neue', sans-serif;

  @include media-breakpoint-up(md) {
    max-width: 100%;
  }
}

.link-title-font {
  font-family: 'DM Serif Display', serif;
}

.text-font {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: $h6-font-size * 0.5;
}

.bg-grad-prim-accent {
  background: linear-gradient(45deg, $secondary, $accent);
}

.bg-accent {
  background-color: $accent;
}

//.group-title-font-size {
//  font-size: $h1-font-size*1.5;
//}

.text-bg-grad {
  background: -webkit-linear-gradient(
                  45deg,
                  $light 10%,
                  $accent 30%,
                  $accent 40%,
                  $primary 47%,
                  $light 50%,
                  $accent 55%,
                  $light 58%,
                  $light 82%,
                  $primary 85%,
                  $light 86%,
                  $accent 88%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h-20px {
  height: 20px;
}

.h-2px {
  height: 2px;
}

.h-1px {
  height: 1px;
}

.link-component {
  width: clamp(300px, 50vw, 550px);
}

$pushDownValue: 40px;

.pushdown {
  padding-top: $pushDownValue;
  margin-top: $pushDownValue;
}

.group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {

  }

  &:before, &:after {
    display: block;
    content: '';
    width: 10px;
    aspect-ratio: 1/1;
    background-color: $light;
    border-radius: 50%;
  }
}

.description {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;

  &:hover {
    grid-template-rows: 0fr;
    //background-color: #0c121d;
    overflow: hidden;
  }

  //transition: grid-template-rows .5s cubic-bezier(0.2, 0, 0, 1);
}

// animation / ---------------------------------------------------------

/* https://www.animotion.dev */
